<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Who's in Space?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <style>
    body { 
      background: url("https://media2.giphy.com/media/8F64hrQgK86dvR0dAA/giphy.gif") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .div-center {
      width: 800px;
      height: 100px;   
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;     
      margin: auto;
    }
  </style>
</head>
<body>
  <main>
    <div class="container centre-div">
      <div class="text-shadow div-center text-center">
        <p class="text-white display-4"><small>I'm afraid I can't let you do that...</small></p>
        <p class="text-white h4"><small><%= error.status %>: It seems the page you are looking for doesn't exist</small></p>
      </div>
    </div>
  </main>
  <script>
    setTimeout(function () {
       window.location = "/";
    }, 3000);
  </script>
</body>
</html>