/* a, a:hover {
  text-decoration: none;
  color: inherit;
} */

.card {
  border-radius: 15px;
  border: none;
  overflow: hidden;
}

.modal-content {
  border-radius: 15px;
  border: none;
  overflow: hidden;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.background-colour {
  background: #0f0f0f;
}

.mask1 {
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 40%);
  mask-image: linear-gradient(to top, transparent 0%, black 40%);
}

.shadow {
  -webkit-box-shadow: 3px 3px 8px #292930;
  box-shadow: 3px 3px 8px #292930;
}

.text-shadow {
  text-shadow: 1px 1px 30px #292930;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.zoom {
  transition: transform 0.2s ease;
}

.zoom:hover {
  transform: scale(1.05);
}

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/images/foreground.png), url(/images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

@font-face {
  font-family: "Akzidenz-grotesk";
  src: url("Assets/fonts/Akzidenz-grotesk-roman.ttf");
}

.main-header {
  font-size: 80px;
}
